.weather-project-wrapper {
	max-width: 600px;
	margin: 0 auto;
}
.weather-project {
	padding: 20px;
	border: 1px solid gray;
	border-radius: 5px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

img {
	width: 250px;
	float: left;
	margin: 0;
}
h1 {
	color: orange;
	font-size: 30px;
	font-weight: 200;
	line-height: 30px;
}
ul {
	margin: 0;
	padding: 0;
	/* list-style-type: none;
	display: inline;
	margin-top: 0;
	margin-left: 30%;
	margin-right: 30%;
	text-align: center;
	float: right; */
}
li {
	list-style: none;
	color: black;
	font-size: 20px;
	font-weight: 100;
	line-height: 30px;
}
.city-form {
	width: 40%;
	float: right;
}
.container {
	display: grid;
}

.col {
	display: inline-table;
	text-align: center;
	border: 1px solid grey;
	border-radius: 5px;
	padding: 10px 10px 10px 10px;
	margin: 5px 5px 5px 5px;
}
.sevendays {
	width: 100%;
	margin: 0 auto;
}
.row-2 {
	display: inline;
	margin-left: 0;
	margin-right: 0;
}
