.weather-project-wrapper {
	max-width: 660px;
	margin: 0 auto;
}
.weather-project {
	padding: 20px;
	border: 1px solid gray;
	border-radius: 5px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

img {
	width: 250px;
	float: left;
	margin: 0;
	margin-left: 50px;
	margin-bottom: 20px;
}
h1 {
	color: orange;
	font-size: 30px;
	font-weight: 100;
	line-height: 30px;
}
ul {
	margin: 0;
	padding: 0;
}
ul.sunday {
	list-style: none;
}
ul.monday {
	list-style: none;
}
ul.tuesday {
	list-style: none;
}
ul.wednesday {
	list-style: none;
}
ul.thursday {
	list-style: none;
}
ul.friday {
	list-style: none;
}
ul.saturday {
	list-style: none;
}
ul.weatherconditions {
	list-style: none;
	text-align: center;
	color: gray;
	font-size: small;
	margin-top: 10px;
}
ul.timeupdate {
	list-style: none;
	
}
#weatherdescription {
	list-style: none;
	text-align: center;
	line-height: 40px;
}
#localcity {
	list-style: none;
	text-align: center;
	color: black;
	font-size: 30px;
	font-weight: 100;
	line-height: 30px;
	margin-bottom: 30px;
	
}
#localtemperature {
	list-style: none;
	text-align: center;
	color: black;
	font-size: 60px;
	font-weight: 100;
	line-height: 30px;
	margin-top: 20px;
}
small.units {
	font-size: small;
	
}
.units {
	position: relative;
	font-size: 16px;
	top: -34px;
}
#date {
	color: black;
	font-size: 20px;
	font-weight: 100;
	line-height: 30px;
}
#time {
	color: black;
	font-size: 20px;
	font-weight: 100;
	line-height: 30px;
}
.city-form {
	width: 40%;
	float: right;
}
.container {
	display: grid;
}

.col {
	display: inline-table;
	text-align: center;
	border: 1px solid grey;
	border-radius: 5px;
	padding: 10px 10px 10px 10px;
	margin: 5px 5px 5px 5px;
}
.sevendays {
	margin: 0 auto;
}
.row-2 {
	display: inline;
	margin-left: 0;
	margin-right: 0;
}
.currentlocation-button {
float: right;
}